SERPAPI_API_KEY=
GOOGLE_APPLICATION_CREDENTIALS=/abs/path/to/gcv-service-account.json
PINATA_JWT=
POM_CHAIN=amoy
POM_PRIVATE_KEY=
POM_RPC_AMOY=https://rpc-amoy.polygon.technology
POM_RPC_BASE_SEPOLIA=https://sepolia.base.org
POM_CONTRACT_AMOY=
POM_CONTRACT_BASE_SEPOLIA=
POM_IMAGEHOST=pinata
